body {
	background-color: #2774AE;
}

.container {
	font-family: "calibri", Garamond, 'Comic Sans MS';
	color: #2774AE;
	background-color: white;
	padding: 15px;
	margin-top: 5%;	
	margin-left: 25%;
	width: 50%;
}

.title {
	text-align: center;
}

.button {
	text-align: center;
	margin: auto;
	font-size: 15px;
	padding: 7px;
	background-color: #2774AE;
	border: none;
	color: white;
	cursor: pointer;
	position:relative;
    top: 50%;
    left: 46.5%;
}


/* Clearfix (clear floats) */
.row {
  display: flex;
}
.col{
	flex: 45%;
  	padding: 5%;
  	position: relative;
}


.option {
/*	height: 300px;
	width: 300px;
	float: left;*/
	/*flex: 40%;*/
	/*float: left;*/
	border: 1px solid #FFFFFF;
  	width: 49%;
}



